/Calculo[[:space:]]II/Livro/Cálculo[[:space:]]Vol[[:space:]]1[[:space:]]9Ed[[:space:]]-[[:space:]]James[[:space:]]Stewart,[[:space:]]Daniel[[:space:]]Clegg,[[:space:]]Saleem[[:space:]]Watson[[:space:]]-[[:space:]]Cengage[[:space:]](2022).pdf filter=lfs diff=lfs merge=lfs -text
/Calculo[[:space:]]II/Livro/Cálculo[[:space:]]Vol[[:space:]]2[[:space:]]9Ed[[:space:]]-[[:space:]]James[[:space:]]Stewart,[[:space:]]Daniel[[:space:]]Clegg,[[:space:]]Saleem[[:space:]]Watson[[:space:]]-[[:space:]]Cengage[[:space:]](2022).pdf filter=lfs diff=lfs merge=lfs -text
